.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
  padding-top: 4em;
  padding-bottom: 2em;
}

.speciesContainer {
  width: 100%;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: scroll;
  position: relative;
  justify-content: space-evenly;
  border-radius: 10px;
}

.species {
  min-height: 80px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.219);
  margin: 10px 0;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  flex-direction: column;
}
.species_container {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-evenly;
  align-items: flex-end;
}
.species .speciesLabel {
  display: flex;
  width: 100%;
}
.species .speciesLabel h3 {
  position: sticky;
  left: 10px;
}

.genome {
  min-width: 100px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-inline: 4px;
  font-size: 10px;
  overflow: hidden;
}

.filterContainer {
  width: 90%;
  height: 140px;
  background-color: rgba(48, 56, 126, 0.619);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 5%;
  border-radius: 5px 5px 0px 0px;
  transition: transform ease-in-out 100ms;
}
.filterContainer .up * {
  transform: rotate(180deg);
  transition: transform ease-in-out 100ms;
}
.filterContainer button * {
  transition: transform ease-in-out 100ms;
}
.filterActivation {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: rgb(160, 255, 203);
  border: none;
}
.filterActivation span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.filterActivation:hover {
  opacity: 0.8;
}
.filterForm {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas: ". . . ." "maxOutput . speciesSel genomeSel " ". . . submit";
  gap: 1em;
  padding: 1em 1em;
  justify-content: center;
  align-items: center;
}
.filterForm label {
  color: black;
  width: 100%;
}
.filterForm div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  background-color: rgb(45, 92, 173);
  padding: 10px 5px;
  border-radius: 5px;
}
.filterForm div label {
  color: white;
  font-weight: 700;
}
.filterForm .maxGenes {
  grid-area: maxOutput;
}
.filterForm .SpeciesSelected {
  grid-area: speciesSel;
  color: black;
}
.filterForm .GeneSelected {
  grid-area: genomeSel;
  color: black;
}
.filterForm select {
  width: 100%;
  height: 30px;
  color: black;
  padding-left: 1em;
}
.filterForm select option {
  color: black;
}
.filterSubmit {
  grid-area: submit;
}

.hide {
  transform: translateY(135px);
  transition: transform ease-in-out 100ms;
}

.GenInfo {
  width: 30%;
  padding: 1em;
  position: fixed;
  top: 5%;
  left: 5%;
  background-color: rgb(233, 237, 241);
  z-index: 999;
  padding: 1;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.GenInfo button {
  padding: 1em 10px;
  align-self: right;
  background-color: white;
  border: 0;
}

.GenInfo[data-visible=false] {
  transform: translateX(-100%);
  transition: transform 0s;
}

.GenInfo[data-visible=true] {
  transform: translateX(10%);
  transition: transform 2s;
}

@media screen and (max-width: 940px) {
  .filterForm {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: ". . ." "maxOutput speciesSel genomeSel " ". .  submit";
  }
}/*# sourceMappingURL=species.module.css.map */